management:
  endpoints:
    web:
      exposure:
        include: "*"

spring:
  cloud:

    consul:
      discovery:
        prefer-ip-address: true
        health-check-path: /actuator/health
        service-name: han-security
      host: 192.168.5.55
      port: 8500

  application:
    name: han-security



server:
  port: 7566
logging:
  level:
    org:
      springframework:
        security: debug

